fastapi
gradio
gradio_imageslider
gradio_client
Markdown
numpy
requests
sentencepiece
tokenizers
torch
torchvision
uvicorn
wandb
httpx
transformers==4.28.1
accelerate
scikit-learn
sentencepiece
einops
einops-exts
timm
openai-clip
fsspec
kornia
matplotlib
ninja
omegaconf
open-clip-torch
opencv-python
pandas
Pillow
pytorch-lightning
PyYAML
scipy
tqdm
triton
urllib3
webdataset
xformers
facexlib
k-diffusion
diffusers
